*{
    outline: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
body{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: rgb(48, 46, 45);
    padding: 30px 0;
}
.container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* all */
.top-0{top: 0;}
.left-0{left: 0;}
.right-0{right: 0;}
.bottom-0{bottom: 0;}
.absolute{position: absolute;}
.card-wrapper{
    display: block;
    text-decoration: none;
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 8px;
    overflow: hidden;
    color: rgb(48, 46, 45);
}
.card-img-block{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card-text-block{
    padding: 20px 20px 30px;
}
.card-title{
    font-size: 22px;
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 15px;
}
.card-text{
    font-size: 14px;
    line-height: 23px;
}
.card-img-block img{
    width: 100%;
}

.card-icon{
    width: 50px;
    margin: 5px;
    border: 3px solid transparent;
}
.card-icons{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0);
    transition: all 0.3s ease 0s;
    z-index: 1;
}
.pagespeed-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    border-color: #0cce6b;
    background: rgb(12, 206, 107, 0.1);
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    box-shadow: inset 0 0 15px 0px #6f6f6f;
}

/* card v1 */
.v1 .card-icon{
    position: absolute;
}
.v1 .card-icons .card-icon:nth-child(1){
    transition: all 0.3s ease 0s;
}
.v1 .card-icons .card-icon:nth-child(2){
    transition: all 0.3s ease 0.1s;
}
.v1 .card-icons .card-icon:nth-child(3){
    transition: all 0.3s ease 0.2s;
}
.v1 .card-icons .card-icon:nth-child(4){
    transition: all 0.3s ease 0.3s;
}
.v1 .card-onhover{
    opacity: 0;
}
.v1 .card-img-block:hover .card-onhover{
    opacity: 1;
}
.v1 .card-img-block:hover .card-icons{
    background: rgb(0, 0, 0, 0.5);
}

/* card v2 */
.v2 .card-img-block:hover .card-icons{
    background: rgb(255, 255, 255, 0.5);
}
.v2 .card-icon{
    margin-bottom: 10px;
}
.v2 .card-icons .card-icon:nth-child(1){
    transition: all 0.3s ease 0s;
}
.v2 .card-icons .card-icon:nth-child(2){
    transition: all 0.3s ease 0.1s;
}
.v2 .card-icons .card-icon:nth-child(3){
    transition: all 0.3s ease 0.2s;
}
.v2 .card-icons .card-icon:nth-child(4){
    transition: all 0.3s ease 0.3s;
}
.v2 .left-side .card-onhover{
    transform: translate(-60px, 0);
}
.v2 .right-side .card-onhover{
    transform: translate(60px, 0);
}
.v2 .card-img-block:hover .card-onhover{
    transform: translate(0, 0);
}